<!DOCTYPE html>
<html>
  <head>
    <title>Paymob Payment</title>
  </head>
  <body>
    <h1>Pay with Paymob</h1>
    <form action="/start-payment" method="post">
      <input type="number" name="amount" placeholder="amount">
      <button type="submit">Pay Now</button>
    </form>
  </body>
</html>